/*pre-define classes*/
body{ background:url(../images/bodbg.png) repeat; width:100% 100%; }

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #7a7663;
    border-image: none;
    border-style: dashed;
    border-width: 1px 0 0;
    clear: both;
    float: left;
    height: 0;
margin:0px;
    width: 96%;
}

p,h1,h2,h3,h4,h5,h6,ul,li,form,img{ font-weight:normal; margin:0; list-style:none; border:none; }

.container{ background:url(../images/body-bg.jpg) repeat; }
.background{ border-width:2px;	
    border-style:dotted;
    margin:5px;
	color:#c68a5e; }
.butt{ padding:3px 3px; margin:0px 0 0 5px; }

.menubg{ 
    padding: 0px 0px 0 10px; 
    background: #bcad8f;
    border-radius: 3px;
	margin:8px; }
	
.bgh{ padding:3px 3px;
        background:url(../images/bgpng.png)  #efefc8;
	border-radius: 3px;
	background-size:100%;
	color:#7a7663;
	min-height:800px;
     }	
.buttext{ padding:0 }

.dest {
    color: #7a7663;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    margin: 4px;
}


.dest2 {
    color: #c0392b;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    margin: 4px;
}

.item {
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    
}
.dotte{ border-top-style: dotted;
	color:#c68a5e;
	width:100%px;
	margin:5px;
	 }
	
.list{ margin:0 0 0 0px; padding:0 0 0 0; }	
	
.list p{ margin:0 0 0 0px; padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:19px; color:green;font-weight:bold }	

.list h6{ margin:0 0 0 0px; padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:17px; color:black; }	

.doller h5{ margin:0 0 0 0px; padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#010101;}

.abc { border: 0px solid #a1a1a1;
    padding: 1px 1px; 
    background: #e7e4c5;
    width:100%px;
    border-radius: 25px; }
.abc p{ color:#010101; font-family:Arial, Helvetica, sans-serif; font-size:15px; }	

	
.middledoted{ border: dotted 1px #663; margin:10px 0 0 0;
	color:#7a7663;
	width:100%px;
	 }
 
