﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="admin.master.cs" Inherits="admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Monica's Store | </title>

    <!-- Bootstrap core CSS -->
   
    <link href="<%=CommonFunctions.SiteUrl()%>css/bootstrap.min.css" rel="stylesheet">

    <link href="<%=CommonFunctions.SiteUrl()%>fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="<%=CommonFunctions.SiteUrl()%>css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="<%=CommonFunctions.SiteUrl()%>css/custom.css" rel="stylesheet">
    <link href="<%=CommonFunctions.SiteUrl()%>css/icheck/flat/green.css" rel="stylesheet">
    <!-- editor -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="<%=CommonFunctions.SiteUrl()%>css/editor/external/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="<%=CommonFunctions.SiteUrl()%>css/editor/index.css" rel="stylesheet">
    <!-- select2 -->
    <link href="<%=CommonFunctions.SiteUrl()%>css/select/select2.min.css" rel="stylesheet">
    <!-- switchery -->
    <link rel="stylesheet" href="<%=CommonFunctions.SiteUrl()%>css/switchery/switchery.min.css" />

    <script src="<%=CommonFunctions.SiteUrl()%>js/jquery.min.js"></script>

    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


                        <script language="javascript">

                            function openwindow() {
                                var left = (screen.width / 2) - (365 / 2);
                                var top = (screen.height / 2) - (160 / 2);
                                window.open("dayopenclose.aspx", "Day Open Close", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=365, height=160, top=' + top + ', left=' + left);





                            } 
        </script>

</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Monica's!</span></a>
                    </div>
                    <div class="clearfix"></div>


                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="images/admin.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2><%=EmployeeName %></h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br />

                    <!-- sidebar menu -->
                     <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3><%=BranchName %></h3>
                            <ul class="nav side-menu">
 

                                  <li><a href="<%=CommonFunctions.SiteUrl()%>index.aspx"><i class="fa fa-home"></i> Dashboard  </a></li>
                           
                             
                             
                                      <li><a><i class="fa fa-table"></i> Masters <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                   
                                    <li><a href="<%=CommonFunctions.SiteUrl()%>manageitemmaster.aspx">Manage Item Master</a></li>
                             <li><a href="<%=CommonFunctions.SiteUrl()%>managekits.aspx">Manage Kit Master</a></li>
                             
                                    <li><a href="<%=CommonFunctions.SiteUrl()%>managecompanies.aspx">Manage Companies</a></li>
                                            <li><a href="<%=CommonFunctions.SiteUrl()%>managesuppliers.aspx">Manage Suppliers</a></li>
                                 
                                       <li><a href="<%=CommonFunctions.SiteUrl()%>managedepartment.aspx">Manage Departments</a></li>
                                      <li><a href="<%=CommonFunctions.SiteUrl()%>managedesignations.aspx">Manage Designations</a></li>
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>ManagePropGroups.aspx">Manage Groups</a></li>
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>managepropsgroups.aspx">Manage SubGroups</a></li>
                                      <li><a href="<%=CommonFunctions.SiteUrl()%>managebanks.aspx">Manage Banks</a></li>
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>managearea.aspx">Manage Area</a></li>
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>managecolors.aspx">Manage Categories</a></li>
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>managelocation.aspx">Manage Rack & Shelf</a></li>
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>managecities.aspx">Manage Cities</a></li>
                                   
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>managetaxes.aspx">Tax Structure</a></li>
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>manageexcise.aspx">Excise Master</a></li>
                                      <li><a href="<%=CommonFunctions.SiteUrl()%>managegodown.aspx">Godowns</a></li>
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>manageaddon.aspx">Manage Add On</a></li>
                                       <li><a href="<%=CommonFunctions.SiteUrl()%>manageitemtypes.aspx">Manage Item Type</a></li>
                                      
                                      
                                       <li><a href="<%=CommonFunctions.SiteUrl()%>managesalesunit.aspx">Manage Sales Unit</a></li>
       <li><a href="<%=CommonFunctions.SiteUrl()%>managebranches.aspx">Manage Branches</a></li>
        <li><a href="<%=CommonFunctions.SiteUrl()%>managebarcodes.aspx">Barcode Printing</a></li>
         <li><a href="<%=CommonFunctions.SiteUrl()%>updateitemcodes.aspx">Update ItemMaster</a></li>
           <li><a href="<%=CommonFunctions.SiteUrl()%>UpdateSaleReport.aspx">Update SaleRate</a></li>
            <li><a href="<%=CommonFunctions.SiteUrl()%>manageHSNCode.aspx">Manage HSN Code</a></li>                                                         
                                    </ul>
                                </li>
                             
                             
                                                                <li><a href="<%=CommonFunctions.SiteUrl()%>placeorder.aspx"><i class="fa fa-edit"></i> Order Booking <span class="label label-success pull-right"> + Dispatch</span></a></li>
                             




                             
                             
                             
                             
                         
                           


                                  <li><a><i class="fa fa-table"></i> Transactions <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>billscreen.aspx">Retail Billing</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>vatbilling.aspx">GST Billing</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>managefocbills.aspx">FOC Billing</a>
                                        </li>
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>challanscreen.aspx">Challan</a>
                                        </li>

                                         <li><a href="<%=CommonFunctions.SiteUrl()%>dailyexpenses.aspx">Daily Expenses</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>PaymentReceipt.aspx">Payment Receipt</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>ChallanToBill.aspx">Challan To Retail Bill</a>
                                        </li>

                                         <li><a href="<%=CommonFunctions.SiteUrl()%>ChallanToVatBill.aspx">Challan To Vat Bill</a>
                                        </li>

                                      
                                    </ul>
                                </li>
                            
                            
                            
                            
                            
                                  <li><a><i class="fa fa-table"></i> Customer <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>managecashcustomers.aspx">Cash Customers</a>
                                        </li>
                                     
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>managecreditcustomers.aspx">Credit Customers</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                            
                            
                            <li><a><i class="fa fa-table"></i> Discounts <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>managediscounts.aspx">Discount</a>
                                        </li>
                                     
                                       
                                      
                                    </ul>
                                </li>

                                 <li><a><i class="fa fa-table"></i> Member Roles <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu" style="display: none">

                                        <li><a href="manageusers.aspx">Create User</a></li>

                                          <li><a href="chnagepassword.aspx">Change Password</a></li>

                                        <li><a href="<%=CommonFunctions.SiteUrl()%>manageroles.aspx">Roles</a>
                                        </li>
                                     
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>managepages.aspx">Pages</a>
                                        </li>
                                      

                                       <li><a href="<%=CommonFunctions.SiteUrl()%>manageapplyroles.aspx">Apply Roles</a>
                                        </li>
                                    </ul>

                                 </li>
                            
                                <li><a><i class="fa fa-desktop"></i> KOT Screens <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>kotscreen.aspx" target="_blank">KOT Screen</a>
                                        </li>
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>kotdelivery.aspx" target="_blank">KOT Delivery</a>
                                        </li>
                                       
                                    </ul>
                                </li>
                              


                                <li><a><i class="fa fa-desktop"></i> Inventory <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                     <li><a href="<%=CommonFunctions.SiteUrl()%>managepurchase.aspx" >Purchase</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>managepurchasereturn.aspx" >Purchase Return</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>managepurchaseorder.aspx" >Purchase Order</a>
                                        </li>
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>BreakageExpiry.aspx">Breakage Expiry</a>
                                        </li>
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>PhysicalStock.aspx" >Physical Stock</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>managedeliverynote.aspx" >Delivery Note</a>
                                        </li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>deliveryreceive.aspx" >Delivery Receive</a>
                                        </li>
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>stockadjustment.aspx" >Stock Adjustment</a>
                                        </li>
                                       

                                          <li><a href="<%=CommonFunctions.SiteUrl()%>manageitemissuereceive.aspx" >Item Issue/Receive</a></li>
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>manageInternalIssue.aspx" >Internal Issue</a></li>
                                          <li><a href="<%=CommonFunctions.SiteUrl()%>DailyTransferPage.aspx" >Manage Production</a></li>


                                       
                                    </ul>
                                </li>

                              


                                   <li><a href='javascript:openwindow()' ><i class="fa fa-bar-chart-o"></i> Day OpenClose <span class="fa fa-chevron-down"></span></a>
                                   
                                </li>
                              

                                <li><a><i class="fa fa-bar-chart-o"></i> Reporting Section <span class="fa fa-chevron-down"></span></a>
                                   <ul class="nav child_menu" style="display: none">
                                       
                                        <li><a href="<%=CommonFunctions.SiteUrl()%>Reports/Default2.aspx" target="_blank">Main Reports</a>
                                        </li>
                                       
                                    </ul>
                                </li>
                            </ul>
                        </div>
                       
                    
                    
                    
                        <div class="menu_section">
                            <h3>Settings</h3>
                            
                            
                            <ul class="nav side-menu">
                               
                            
                                           <li><a><i class="fa fa-windows"></i>Application Settings <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                         <li><a href="<%=CommonFunctions.SiteUrl()%>manageproductsettings.aspx">  Item Settings </a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managekitsetting.aspx">  Kit Detail Setting </a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managebasicpurchasesettings.aspx">  Purchase Settings </a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managepurchasegridoptions.aspx"> Purchase Grid Option </a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managebasicsettings.aspx">  Basic Settings </a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managebillbasicsettings.aspx"> Bill Basic Settings</a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managebillgridoptions.aspx">  Bill Grid Settings</a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managebillseries.aspx">  Bill Series</a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managebilltypesetting.aspx">  Bill Type Settings</a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managedeliverynotesettings.aspx">  Delivery Note Settings</a></li>
                                 <li><a href="<%=CommonFunctions.SiteUrl()%>managediscountsetting.aspx"> Discount Settings</a></li>
                             
                                         

                                    </ul>
                                </li>   
                            
                            </ul>
                            
                            
                            <ul class="nav side-menu">
                                
                                <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                      
                                      
                                       <li><a href="manageusers.aspx">Create User</a></li>
                                      
                                       <li><a href="applyroles.aspx">User Roles</a></li>
                                  
                                       <li><a href="page_404.html">Settings</a></li>
                                  
                                        <li><a href="logout.aspx">Log Out</a>
                                        </li>
                                         

                                    </ul>
                                </li>
 
                            </ul>





                        </div>

                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <%--<ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li><a href="javascript:;">  Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Help</a>
                                    </li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>--%>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <asp:ContentPlaceHolder ID="cntAdmin" runat="server"></asp:ContentPlaceHolder>

        </div>
    </div>

        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>

        <script src="<%=CommonFunctions.SiteUrl()%>js/bootstrap.min.js"></script>

        <!-- chart js -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/chartjs/chart.min.js"></script>
        <!-- bootstrap progress js -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/progressbar/bootstrap-progressbar.min.js"></script>
        <script src="<%=CommonFunctions.SiteUrl()%>js/nicescroll/jquery.nicescroll.min.js"></script>
        <!-- icheck -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/icheck/icheck.min.js"></script>
        <!-- tags -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/tags/jquery.tagsinput.min.js"></script>
        <!-- switchery -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/switchery/switchery.min.js"></script>
        <!-- daterangepicker -->
        <script type="text/javascript" src="<%=CommonFunctions.SiteUrl()%>js/moment.min2.js"></script>
        <script type="text/javascript" src="<%=CommonFunctions.SiteUrl()%>js/datepicker/daterangepicker.js"></script>
        <!-- richtext editor -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/editor/bootstrap-wysiwyg.js"></script>
        <script src="<%=CommonFunctions.SiteUrl()%>js/editor/external/jquery.hotkeys.js"></script>
        <script src="<%=CommonFunctions.SiteUrl()%>js/editor/external/google-code-prettify/prettify.js"></script>
        <!-- select2 -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/select/select2.full.js"></script>
        <!-- form validation -->
        <script type="text/javascript" src="<%=CommonFunctions.SiteUrl()%>js/parsley/parsley.min.js"></script>
        <!-- textarea resize -->
        <script src="<%=CommonFunctions.SiteUrl()%>js/textarea/autosize.min.js"></script>
        <script>
            autosize($('.resizable_textarea'));
        </script>
        <!-- Autocomplete -->
        <script type="text/javascript" src="<%=CommonFunctions.SiteUrl()%>js/autocomplete/countries.js"></script>
        <script src="<%=CommonFunctions.SiteUrl()%>js/autocomplete/jquery.autocomplete.js"></script>
        <script type="text/javascript">
            $(function () {
                'use strict';
                var countriesArray = $.map(countries, function (value, key) {
                    return {
                        value: value,
                        data: key
                    };
                });
                // Initialize autocomplete with custom appendTo:
                $('#autocomplete-custom-append').autocomplete({
                    lookup: countriesArray,
                    appendTo: '#autocomplete-container'
                });
            });
        </script>
        <script src="js/custom.js"></script>


        <!-- select2 -->
        <script>
            $(document).ready(function () {
                $(".select2_single").select2({
                    placeholder: "Select a state",
                    allowClear: true
                });
                $(".select2_group").select2({});
                $(".select2_multiple").select2({
                    maximumSelectionLength: 4,
                    placeholder: "With Max Selection limit 4",
                    allowClear: true
                });
            });
        </script>
        <!-- /select2 -->
        <!-- input tags -->
        <script>
            function onAddTag(tag) {
                alert("Added a tag: " + tag);
            }

            function onRemoveTag(tag) {
                alert("Removed a tag: " + tag);
            }

            function onChangeTag(input, tag) {
                alert("Changed a tag: " + tag);
            }

            $(function () {
                $('#tags_1').tagsInput({
                    width: 'auto'
                });
            });
        </script>
        <!-- /input tags -->
        <!-- form validation -->
        <script type="text/javascript">
            $(document).ready(function () {
                $.listen('parsley:field:validate', function () {
                    validateFront();
                });
                $('#demo-form .btn').on('click', function () {
                    $('#demo-form').parsley().validate();
                    validateFront();
                });
                var validateFront = function () {
                    if (true === $('#demo-form').parsley().isValid()) {
                        $('.bs-callout-info').removeClass('hidden');
                        $('.bs-callout-warning').addClass('hidden');
                    } else {
                        $('.bs-callout-info').addClass('hidden');
                        $('.bs-callout-warning').removeClass('hidden');
                    }
                };
            });

            $(document).ready(function () {
                $.listen('parsley:field:validate', function () {
                    validateFront();
                });
                $('#demo-form2 .btn').on('click', function () {
                    $('#demo-form2').parsley().validate();
                    validateFront();
                });
                var validateFront = function () {
                    if (true === $('#demo-form2').parsley().isValid()) {
                        $('.bs-callout-info').removeClass('hidden');
                        $('.bs-callout-warning').addClass('hidden');
                    } else {
                        $('.bs-callout-info').addClass('hidden');
                        $('.bs-callout-warning').removeClass('hidden');
                    }
                };
            });
            try {
                hljs.initHighlightingOnLoad();
            } catch (err) { }
        </script>
        <!-- /form validation -->
        <!-- editor -->
        <script>
            $(document).ready(function () {
                $('.xcxc').click(function () {
                    $('#descr').val($('#editor').html());
                });
            });

            $(function () {
                function initToolbarBootstrapBindings() {
                    var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                'Times New Roman', 'Verdana'],
                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                    $.each(fonts, function (idx, fontName) {
                        fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
                    });
                    $('a[title]').tooltip({
                        container: 'body'
                    });
                    $('.dropdown-menu input').click(function () {
                        return false;
                    })
                        .change(function () {
                            $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                        })
                        .keydown('esc', function () {
                            this.value = '';
                            $(this).change();
                        });

                    $('[data-role=magic-overlay]').each(function () {
                        var overlay = $(this),
                            target = $(overlay.data('target'));
                        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                    });
                    if ("onwebkitspeechchange" in document.createElement("input")) {
                        var editorOffset = $('#editor').offset();
                        $('#voiceBtn').css('position', 'absolute').offset({
                            top: editorOffset.top,
                            left: editorOffset.left + $('#editor').innerWidth() - 35
                        });
                    } else {
                        $('#voiceBtn').hide();
                    }
                };

                function showErrorAlert(reason, detail) {
                    var msg = '';
                    if (reason === 'unsupported-file-type') {
                        msg = "Unsupported format " + detail;
                    } else {
                        console.log("error uploading file", reason, detail);
                    }
                    $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                };
                initToolbarBootstrapBindings();
                $('#editor').wysiwyg({
                    fileUploadError: showErrorAlert
                });
                window.prettyPrint && prettyPrint();
            });
        </script>
        <!-- /editor -->
      <style type="text/css">
      
      #t_jQGridDemo
      {
           height:35px;padding-top:3px;padding-left:5px
      }
      
      </style>
</body>

</html>
