﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="plugin.aspx.cs" Inherits="plugin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="js/SearchPlugin.js"></script> 
    <script language="javascript" type="text/javascript">
     
      $(document).ready(
        function () {

            $("#ddlAccountCR").supersearch({
                Type: "Accounts",
                Caption:"Please enter Account ",
                AccountType:"A"
            });

            $("#ddlAccountDR").supersearch({
                Type: "Accounts",
                Caption: "Please enter Account ",
                AccountType: "A"

            });


            $("#btnInsert").click(
            function()
            {
                alert($("#ddlAccountCR").val());
            }
            );

        
        }

        );
    
    </script>

</head>
<body>
    <form id="form1" runat="server">


    <div id="green"> </div>
 
    <link href="semantic.css" rel="stylesheet" type="text/css" />
 
 
 <select id="ddlAccountCR"></select>


 <select id="ddlAccountDR"></select>


 <input type="button" id="btnInsert" value="Insert" />

 
    
    
    
    </form>
</body>
</html>
