<%@ Page Language="C#" %>
 
<%
 
       HttpFileCollection files = HttpContext.Current.Request.Files;
       string ProductId = Request.Form["ProductId"];
 
       for (int index = 0; index < files.Count; index ++)
 
       {
 
              
           HttpPostedFile uploadfile = files[index];
 
                             // You must create “upload” sub folder under the wwwroot.
              string FileName = CommonFunctions.UploadImage(uploadfile, "~\\uploads\\", true, 100, 100, false, 0, 0);
          //  new ProductBLL().UpdateImageUrl(Convert.ToInt64(ProductId), FileName);
           
             // uploadfile.SaveAs(Server.MapPath("~\\ProductImages\\") + uploadfile.FileName);
 
       }
 
             HttpContext.Current.Response.Write(ProductId);
 
%>