﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="testfile.aspx.cs" Inherits="testfile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
         <link href="css/bootstrap.min.css" rel="stylesheet" />
 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="css/jquery-ui.css">
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery-ui.js"></script>

  
    <script type="text/javascript" src="js/jquery.uilock.js"></script>
  
 

  
     <script type="text/javascript">
         var m_PhotoUrl = "";
         var PStatus = 1;
         var counter = 1;
         $(document).ready(
         function () {

             $("#btnUpload").click(
             function () {

                 $("#tbProgress").append("<tr><td>" + counter + "</td><td>" + $("#txtTitle").val() + "</td><td><div id='progress" + counter + "'></div></td></tr>");

                 uploadFile($("#txtTitle").val(), 'fuImage' + counter, 'progress' + counter);

                 counter = counter + 1;
                 $("input[type='file']").attr("id", "fuImage" + counter);

             }

             );



        



         }
         );








         function uploadFile(ProductId, fileupload, progress) {
         

           //  document.getElementById("img" + ProductId).src = "productimages/loader.gif";
            var fd = new FormData();
             fd.append("ProductId", ProductId);
             var count = document.getElementById(fileupload).files.length;

             for (var index = 0; index < count; index++) {

                 var file = document.getElementById(fileupload).files[index];
                 

                 fd.append(file.name, file);

             }

             var xhr = new XMLHttpRequest();
             xhr.upload.addEventListener("progress",
             function uploadProgress(evt) {

                 if (evt.lengthComputable) {
                     var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                     document.getElementById(progress).innerHTML = percentComplete.toString() + '%';
                 }
             }
             , true);


             xhr.addEventListener("load",
              function uploadComplete(evt) {

                  
                 // document.getElementById(progress).innerHTML = evt.target.responseText;
                  //document.getElementById("img" + evt.target.responseText).src ="productimages/T_"+ evt.target.responseText + ".jpg";
              }
             , false);


             xhr.addEventListener("error", function uploadFailed(evt) {

                 alert("There was an error attempting to upload the file.");
                 $.uiUnlock();
             }, false);


             xhr.addEventListener("abort", function uploadCanceled(evt) {

                 alert("The upload has been canceled by the user or the browser dropped the connection.");
                 $.uiUnlock();
             }, false);
             xhr.open("POST", "savetofile.aspx");
             xhr.send(fd);
 
         }

         

  
        

         
 </script>
</head>
<body>
 
    <div>
    
    <table>
    <tr><td>Title</td><td><input type="text" id="txtTitle" /></td>
    <td>
    
    <input type="file" id="fuImage1" name="fuImage" />
    
    </td> <td><input type="button" id="btnUpload" value="Upload"/></td>
    
    </tr>
    </table>

    



    <table id="tbProgress"  class="table" style="width:400px">
     
    </table>

    
   
 
    

    </div>
  
</body>
</html>
