﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="tt.aspx.cs" Inherits="tt" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntAdmin" Runat="Server">
 
 
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="js/SearchPlugin.js"></script> 
    <script language="javascript" type="text/javascript">

        $(document).ready(
        function () {

            $("#ddlAccountCR").supersearch({
                Type: "Accounts",
                Caption: "Please enter Account ",
                AccountType: "A"
            });

            $("#ddlAccountDR").supersearch({
                Type: "Accounts",
                Caption: "Please enter Account ",
                AccountType: "A"

            });


            $("#btnInsert").click(
            function () {
                alert($("#ddlAccountCR").val());
            }
            );


        }

        );
    
    </script>
 


    <div id="green"> </div>
 
    <link href="semantic.css" rel="stylesheet" type="text/css" />
 
 
 <select id="ddlAccountCR"></select>


 <select id="ddlAccountDR"></select>


 <input type="button" id="btnInsert" value="Insert" />

 
    
    
     

</asp:Content>

