﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/UserReport.master" AutoEventWireup="true" CodeFile="Default3.aspx.cs" Inherits="Reports_Default3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
 <div style="width:100%;text-align:center;padding-top:100px;">
 <table style="margin-left:300px;">
 <tr><td>
 <h1 style="font-family:monospace">
 WELCOME TO<br />MONICA'S <br />
  REPORTING SECTION 
 </h1>
 </td></tr>
 </table>
</div>
 
</asp:Content>

