﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="backoffice_Reports_Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
   <script src="../js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="../js/ShortcutKey.js" type="text/javascript"></script>
    <script type ="text/javascript">


        $(document).ready(
    function () {

        Mousetrap.bind('ctrl+shift+up', function (e) {
            window.location = "ReportStockLedger.aspx";
        });

     





    }
    );
</script>


 <div style="width:100%;text-align:center;padding-top:100px;">
 <table style="margin-left:300px;">
 <tr><td>
 <h1 style="font-family:monospace">
 WELCOME TO<br />MONICA'S <br />
  REPORTING SECTION 
 </h1>
 </td></tr>
 </table>
</div>
 
</asp:Content>

