﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reports/ReportPage.master" AutoEventWireup="true" CodeFile="deliverygroupwiserpt.aspx.cs" Inherits="deliverygroupwiserpt" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
</asp:Content>

