﻿<%@ WebHandler Language="C#" Class="ManageTaxes" %>

using System;
using System.Web;

public class ManageTaxes : IHttpHandler, System.Web.SessionState.IRequiresSessionState
{

    public void ProcessRequest(HttpContext context)
    {

        System.Collections.Specialized.NameValueCollection forms = context.Request.Form;
        string strOperation = forms.Get("oper");
        string strResponse = string.Empty;
        Int32 Type =Convert.ToInt32(context.Request.QueryString["Type"]);
        if (strOperation == null)
        {
            //oper = null which means its first load.
            var jsonSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
            var x = jsonSerializer.Serialize(

                new TaxStructureBLL().GetAll(Type));

            context.Response.Write(x);
        }
        else if (strOperation == "del")
        {


        }



    }




    public bool IsReusable
    {
        get
        {
            return false;
        }
    }

}